html, body {
    margin: 0;
    padding: 0;
}

nav{
	display: flex;
	justify-content: center;
	padding: 1.7em 2.4em;
	margin-bottom: 1em;
    
	background-color: #F55A5A;
}
.nav--logo{
 	height: 1.8em;
	padding: 0 1.5em;
    margin-right: -20px;
}
.nav--header{
color: white;
margin: 0;
	font-weight: 400;
	font-size: 1.2em;
	letter-spacing: -0.015em;
	padding: 0.18em;
}

.cards-list{
    display: flex;
    flex-direction: column;
	background-color: #fffbf4;

}

.card {
	display: flex;
	padding: 3em;
}

.card-image-div {
	margin-right: 2em;
}

.card-image-div img {
	width: 24vh;
	border-radius: 9px;
	margin-bottom: 1px;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-location {
	display: flex;
	align-items: center;
	max-height: 1em;
}
.card-pin {
	height: 0.8em;
}

.location {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.7em;
}

a {
	color: #918E9B;
	text-underline-offset: 2px;
}

.card-title {
	font-size: 2em;
	margin-top: 0.45em;
}

.card-date {
	font-weight: 700;
	font-size: 0.85em;
}